.img-thumbnail {
    margin: 18px;
    width: 90%;
    height: 90%;
}

.card-body {
    padding: 0, 20px;
}

.card-footer {
    padding: 10, 10px;
    background-color: rgb(255, 239, 239);
    border-top: none;
}